body{
   background-image: url('../ingredients.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}
.jumbotron{
    margin: 100px;
    color: inherit;
    background: transparent;
    background-color: white;
    opacity: 3.2;
}