.body{
    /*these background image will be on the font page of the project*/
    background-image: url('../ingredients.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#unnamed{
    background-image: url('../unnamed2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 150px;
    margin-left: 200px;
}
.jumbotron{
    margin: 100px;
    color: inherit;
    background: transparent;
    background-color: white;
    opacity: 3.2;
    padding: 100px;
}
.lava{
    width:500px;
    height:300px;
}
#homescreen{
    background-image: url('../bg_top.jpg');
    background-position: top center;
    background-size: initial;
    background-repeat: no-repeat;   
}
a {
    color: #653517;
    font-size: 20px;
}
a:hover {
    color: #ff227e;
}

.h1, .p{
    margin-left: 250px;
}
.joinnow{
    margin-left: 370px;
}

#carousel-example-generic,  .carousel-caption, .item, .item active{
    /**the carousel was complicated to find the right spot to put it
    and to put the image in the center of the carousel and i still didnt get right**/
    margin: 0 auto;
    margin-left: 200px;
    width: 900px;
    height: 500px;

}
#suggestion{
    margin-top: 1px;
    font-size: 40px;
    color: #653517; 
    margin-left: 200px;
}
nav{
    margin-left: 200px; 

}
#nav{
    margin-left: 200px; 
}
article{
    /*I used article to make it less difficult to move the code on the page*/
    margin-left: 200px;
}
/*I created my own logo for the website*/
.logo{
    margin-left: 200px;
    width: auto;
    height: 100px;
    position: relative;
    margin-top: 85px;

}
#current-link{
    color: #ff227e;
}
#desserts{
    margin-top: 1px;
    font-size: 40px;
    color: #653517;
    font-family: JosefinSlabRegula;
}

#flavors{
    margin-top: 1px; 
    font-size: 40px;
    alignment-adjust: after-edge;
    font-family: JosefinSlabRegula;
    color: #653517;    
}.
#cakeflavor{
     
    font-family: JosefinSlabRegula;
    color: #653517; 
    margin-left: 1px;
    font-size: 25px;
    position: absolute;
    
}
#cupcakeflavors{
    font-size: 40px;   
    font-family: JosefinSlabRegula;
    color: #653517;
    margin-left: 350px;
    margin-top: 1px;
    
}
#cupcakeflavor{
    margin-right: 100px; 
    font-family: JosefinSlabRegula;
    color: #653517; 
    font-size: 25px; 
}
#cookieflavors{
    margin-top: 1px;
    margin-right: 1px;
    alignment-adjust: before-edge;
    margin-left: 100px;
    font-size: 40px;
    font-family: JosefinSlabRegula;
    color: #653517;  
}
#cookieflavor{
    margin-top: 1px; 
    font-family: JosefinSlabRegula;
    color: #653517; 
    margin-right: 100px;
    font-size: 25px; 
}


.text-right{
    width:300px;
    margin-bottom: 15px;
    float:left;
    overflow-style: auto;
}
.image_rounded{
    width: 200px;
    height: 140px;
}
#moltenlava{
    width: 500px;
    height: 300px;
    text-align: center;
}
ul{
    width:300px;
    margin-bottom: 15px;
    float:left;
    margin-left: 200px;
    color: #653517;
    font-size: 15px;

}
ol{
    width:990px;
    margin-bottom: 15px;
    float: next;
    margin-left: 200px;
    color: #653517;
    font-size: 15px;
}
p{
    font-size: 25px;
}
center{
    font-size: 25px;
}

