.body{
    background-image: url('../ingredients.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.jumbotron{
    margin: 100px;
    color: inherit;
    background: transparent;
    background-color: white;
    opacity: 3.2;
    padding: 100px;
}
#homescreen{
    background-image: url('../bg_top.jpg');
    background-position: top center;
    background-size: initial;
    background-repeat: no-repeat;   
}
a {
    color: #653517;
    font-size: 20px;
}
a:hover {
    color: #ff227e;


}
/*#ff227e*/
.h1, .p{
    margin-left: 250px;
}
.joinnow{
    margin-left: 370px;
}

#carousel-example-generic, img, .carousel-caption, .item, .item active{
    margin: 0 auto;
    

}
/**margin: 200px;
    height: 500px;
    width: auto;**/
#suggestion{
    margin-top: 1px;
    font-size: 40px;
}
a{
    margin: 1px;
}
.logo{
    width: auto;
    height: 100px;
    position: relative;
    margin-top: 85px;
}
#current-link{
    color: #ff227e;
}
#desserts{
    margin-top: 1px;
    font-size: 40px;
    color: #653517;
    font-family: JosefinSlabRegula;
}
#gallery{
    margin-top: 1px;
    font-size: 40px;
    font-family: JosefinSlabRegula;
    color: #653517;
}
#flavors{
    margin-top: 1px;
    font-size: 40px;
    font-family: JosefinSlabRegula;
    color: #653517;    
}
.text-right{
    width:300px;
    margin-bottom: 15px;
    float:left;
    overflow-style: auto;
}
.image_rounded{
    width: 200;
    height: 140;
}
#moltenlava{
    width: 500;
    height: 300;
    text-align: center;
}
ul{
    width:300px;
    margin-bottom: 15px;
    float:left;   
}
ol{
    width:300px;
    margin-bottom: 15px;
    float: right;
    color: #653517;
    font-size: 20px;
}
/*.carousel-inner  .item   .lava .redvelvet {
   margin: 0 auto;
}*/
